# Application Configuration
BASE_URL=http://localhost/rentcam/
ENVIRONMENT=development

# Database Configuration (MySQL / XAMPP)
DB_HOST=localhost
DB_USER=root
DB_PASS= pass
DB_NAME= your database name
DB_PORT= your port
DB_DRIVER=mysqli

# Secret Key for JWT/Session (Optional but recommended)
ENCRYPTION_KEY=your_secret_key_here
